In [3]:
#checking whether a number is prime or not
def test_prime(n):
    if (n ==1):
        # if 'n' is 1, return false (1 is not a prime number)
        return False
    elif (n ==2):
        # If 'n' is 2, return True (2 is a prime number)
        return True
    else:
        #Iterate through numbers from 2 to (n//2) using 'x' as the iterator 
        for x in range(2, n//2):
            #check if 'n' is divisible 'x' without any reaminder
            if (n % x == 0):
                return False
            return True
        
print(test_prime(13))
print(test_prime(15))
print(test_prime(23))

True
True
True

In [6]:
# Example of global variable 
a=10 #bglobal variabe
def f1():
    print(a)

def f2():
    print(a)
        
        
f1()
f2()

10
10

In [7]:
# Example of global and local variable
def f1():
    print(a)

def f2():
    print(a)
a="Hi"
f1()
f2()

Hi
Hi

In [10]:
import ModuleEx1
print(ModuleEx1.add(5,10))
print(ModuleEx1.prod(10,20))
print(ModuleEx1.x)

15
200
100

In [11]:
import ModuleEx1 as mod1
print(ModuleEx1.add(5,10))
print(ModuleEx1.prod(10,20))
print(ModuleEx1.x)

15
200
100

In [ ]:
# Calling a function within a function
#expected output: Final Result: HELLO, ALICE!
def capitalize(text):
    return text.upper()

def greet(name):
    return f"Hello,{name}!"

In [13]:
from ModuleEx1 import *
print(add(5,10))
print(prod(10,20))
print(x)

15
200
100

In [19]:
from ModuleEx1 import add,prod
print(add(5,10))
print(prod(10,20))
print(x)

15
200
100

In [20]:
import math
# Returns the remainder of x divieded by y
print(math.fmod(20,4)) #0.0
print(math.fmod(20,3)) #2.0
print(math.fmod(-10,3))
print(math.fmod(-10,3))

0.0
2.0
-1.0
-1.0

In [23]:
from random import*
for i in range(5):
    print(randint (1,10))
random()

3
5
6
7
10

0.45648978721757405

In [1]:
## Ex: lidt comprehensive to print powers of 2 from 1 to 5
v=[2**x for x in range(1,6)]
print(v)

[2, 4, 8, 16, 32]

Access element of a nested dictonary

In [4]:
#Accesssing nested dictionary
prople = {1: {'name': 'john', 'age': '27'},
          2: {'name': 'margie','age': '22'}}
print(people[1]['name'])
print(people[1]['age'])

NameError: name 'people' is not defined

In [ ]:
#Add element to a nested disconary
people = {1: {'name': 'john', 'age': '27'},
          2: {'name': 'margie', 'age'}

In [5]:
people={1:{'name': 'john', 'age': '27'},
        2: {'name': 'marie', 'age': '22'},
        3: {'name': 'petter', 'age': '29', 'married': 'yes'}}
del people[3]['married']
print(people)

{1: {'name': 'john', 'age': '27'}, 2: {'name': 'marie', 'age': '22'}, 3: {'name': 'petter', 'age': '29'}}

In [7]:
people={1:{'name': 'john', 'Age': '27'},
        2: {'name': 'marie', 'age': '22'}},
for p_id, p_info in people.items():
    print("\nperson ID:", p_id)

    for key in p_info:
        print(key + ':', p_info[key])

AttributeError: 'tuple' object has no attribute 'items'

In [9]:
sq_dict= {num: num*num for  num in range(1,1
                                         
                                         }
print(sq_dict)

SyntaxError: closing parenthesis '}' does not match opening parenthesis '(' on line 1 (2704771248.py, line 3)

In [ ]:
Ex:2 item price in dollars
old_price = {'milk': 1.02, 'coffee': 2.5, 'bread 2.5'}

In [2]:
class First:
     pass 

f=First()

In [8]:
#Ex: class
class Dog:
     def eat(self):
         print("eating")   
   d=Dog()
   d.eat()

IndentationError: unindent does not match any outer indentation level (<string>, line 5)

In [ ]:
# Create a class name person, use the +_init_() function to asign

In [9]:
EX:2 item price in dollars
old_price = {'milk': 1.02, 'coffee': 2.5, 'bread': 2.5}
dollar_to_proud = 0.76
new_price = {item: value*dollar_to_proud for (item, value)in old_price.items()}
print(new_price)

SyntaxError: invalid syntax (233213810.py, line 1)

In [14]:
class First:
     pass

f=First()

In [15]:
#Ex: class
class Dog:
    def eat(self):
        print("eating")
d=Dog()
d.eat()

eating

In [16]:
#self
class Dog:
    def eat(self):
        print("eating")
d=Dog()
d.eat()
Dog.eat(d)

eating
eating

In [17]:
## constructor will be called when object is created
class sample:
    def __init__(self):
        print("Initializing")

    def pr(self):
        print("sample class")
s1=sample()
s1.pr()

Initializing
sample class

In [18]:
## constructor will be called once for each instance
class sample:
    def __init__(self):
        print("Initializing")
    def pr(self):
        print("sample class")
s1=sample()
s2=sample()
s1.pr()

Initializing
Initializing
sample class

In [19]:
#create a class named person, use the __init__() function to assign value for name and age:
class person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = person("john", 36)

print(p1.name)
print(p1.age)

john
36